.container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.button {
  background-color: rgb(96, 96, 243);
  color: aliceblue;
  padding: 8px;
  border: 1px solid white;
  border-radius: 8px;
}
.button:hover {
  background-color: aliceblue;
  color: black;
  border: 1px solid blue;
  padding: 12px;
}